@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

@font-face {
  font-family: 'Glow Better Script';
  src: url("../fonts/BetterSignature.otf") format("opentype");
}

@font-face {
font-family: 'Glow Better Serif';
src: url("../fonts/GlowBetter.otf") format("opentype");
}

/* ------------------------- */
/* Custom Properties */
/* ------------------------- */

:root {
    --color-negro: #000000;
    --color-blanco: #ffffff;
    /* --color-rosa: #e73f8d; */
    --color-rosa: #D85C65;
    --color-gris: #cccccc;
}

/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--color-negro);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.fp-watermark {
    display: none;
}


/* ------------------------- */
/* Menu de Navegación */
/* ------------------------- */

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 10px 50px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-negro);
    transition: .5s ease;
}

.nav li.active {
    border-bottom: 2px solid var(--color-rosa);
}

.menu li a {
    transition: .5s;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: var(--color-rosa);
}

/* ------------------------- */
/* Inicio */
/* ------------------------- */


.inicio__h1 {
    font-family:'Glow Better Serif';
    font-size: 5em;
}

.inicio__h1__span {
    font-family: 'Glow Better Script';
    font-size: 0.8em;
    margin-left: -0.5em;
    color: var(--color-rosa);
}

.inicio__h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: -1.2em;
}



.countdown {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding: 0;
  }

  .countdown li {
    color: var(--color-blanco);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-rosa);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 1em;
  }

  .countdown span {
    font-size: 1.3em;
  }

  .countdown h3 {
    font-size: 0.8em;
    text-transform: uppercase;
  }




.inicio__contenedor__icono {
    position: absolute;
    z-index: 2;
    bottom: 3%;
    left: 49%;
    font-size: 2.5em;
    animation: bajar__subir 1s ease infinite;
}

.inicio__contenedor__icono p a {
    color: var(--color-rosa);
}

.inicio__contenedor__icono p a:hover {
    color: var(--color-gris);
}




/* ------------------------- */
/* Nuestros Menus */
/* ------------------------- */

.nuestras__comidas__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuestras__comidas__img img {
    height: 500px;
}

/* ------------------------- */
/* Redes Sociales */
/* ------------------------- */

.redes__sociales h3 {
    transition: 0.3 ease all;
}

.redes__sociales p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3em;
}

.redes__sociales p a {
    display: flex;
    width: 2em;
    height: 2em;
    background: var(--color-rosa);
    color: var(--color-blanco);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    margin: 0 1em;
}

.redes__sociales p a:hover {
    background: var(--color-blanco);
    color: var(--color-rosa);
    border: 0.1em solid var(--color-rosa);
}



/* ------------------------- */
/* Sección General */
/* ------------------------- */

.section {
    background-image: url(../media/bg-imagen-1920.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.section__h3 {
    font-family:'Glow Better Serif';
    font-size: 5em;
}

.section__h3__span {
    font-family: 'Glow Better Script';
    font-size: 0.8em;
    margin-left: -0.5em;
    color: var(--color-rosa);
}

/* ------------------------- */
/* Clases de fullpage.js */
/* ------------------------- */

#fp-nav ul li a span {
    background-color: var(--color-rosa);
}

#fp-nav ul li .fp-tooltip {
    color: var(--color-rosa);
}

/* ------------------------- */
/* Animaciones */
/* ------------------------- */

@keyframes bajar__subir {
    0% {transform: translateY(1em);}
        25% {transform: translateY(0em);}
            100% {transform: translateY(1em);}


}



@media only screen and (max-width: 1023px) {
    .nav li,
    .nav a {
        margin: 5px;
        font-size: 0.95em;
    }

    .section {
        background-image: url(../media/bg-imagen-1024.png);
    }
    .section__h3 {
        font-family:'Glow Better Serif';
        font-size: 3em;
    }
    .section__h3__span {
        font-family: 'Glow Better Script';
        font-size: 0.8em;
        margin-left: -0.5em;
        color: var(--color-rosa);
    }

    .inicio__h1 {
        font-size: 3em;
    }
    .inicio__h1__span {
        font-size: 0.8em;
        margin-left: -0.5em;
    }
    .inicio__h2 {
        font-size: 0.8em;
        margin-top: -1.2em;
    }

    .countdown {
        margin: 50px 0;
  }

  .countdown li {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 0 0.8em;
  }

  .countdown span {
    font-size: 1em;
  }

  .countdown h3 {
    font-size: 0.6em;
    text-transform: uppercase;
  }


    .inicio__contenedor__icono {
        bottom: 3%;
        left: 46%;
        font-size: 2em;
    }

    .redes__sociales p {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 2em;
    }

    .redes__sociales p a {
        width: 2em;
        height: 2em;
        border-radius: 2em;
        margin: 0 0.5em;
    }
}

@media only screen and (max-width: 720px) {
    .nav a img {
        display: none;
    }
    .nav li,
    .nav a {
        margin: 50px 1px 10px 1px;
        font-size: 0.75em;
    }

    .section {
        background-image: url(../media/bg-imagen-720.png);
    }
    .section__h3 {
        font-family:'Glow Better Serif';
        font-size: 2em;
    }
    .section__h3__span {
        font-family: 'Glow Better Script';
        font-size: 0.8em;
        margin-left: -0.5em;
        color: var(--color-rosa);
    }

    .inicio__h1 {
        font-size: 2em;
    }
    .inicio__h1__span {
        font-size: 0.8em;
        margin-left: -0.5em;
    }
    .inicio__h2 {
        font-size: 0.55em;
        margin-top: -1.2em;
    }

   .countdown {
        margin: 50px 0;
  }

  .countdown li {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 0 0.5em;
  }

  .countdown span {
    font-size: 1em;
  }

  .countdown h3 {
    font-size: 0.4em;
    text-transform: uppercase;
  }


    .inicio__contenedor__icono {
        bottom: 3%;
        left: 46%;
        font-size: 2em;
    }

    .redes__sociales p {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 1.5em;
    }

    .redes__sociales p a {
        width: 1.5em;
        height: 1.5em;
        border-radius: 1.5em;
        margin: 0 0.5em;
    }
}